<div class="modal fade" id="response_modal" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="d-flex">
                <div id="response_text" class="toast-body h4 text-danger">Hey, I'm your notifier!.</div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

        </div>
    </div>
</div>
